.headline{
    border: 1px solid black;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    background-color: #4aa3a3;
}
.text{
    font-weight: bold;
}
.icon{
    margin-left: auto;
    margin-right: 10px;
    border: 0;
    background: none;
    cursor: pointer;
}